@charset "UTF-8";

.cabecalho {
    display: flex;
    padding: 1em 0;
    align-items: center;
}

.cabecalho div {
    margin-left: 1em;
}

.cabecalho h1 {
    font-size: 22px;
    font-weight: 700;
}

.cabecalho p {
   color: var(--cor-secundaria); 
   font-size: 14px;
   padding-top: 0.5em;
}