@charset "UTF-8";

.rodape {
    background: var(--cor-quaternaria);
    border-radius: 1em 1em 0 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.148);
    position: fixed;
    bottom: 0; /* Fixa no final da janela */
    left: 0;
    width: 100%;
}

.rodape ul {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.rodape li{
    text-align: center;
}

.rodape a{
    color: var(--cor-principal);
    text-decoration: none;
    font-size: 12px;
}

.rodape p {
    padding-top: 0.2em;
}

.rodape__secao a{
    color: var(--cor-sextenaria);
}

@media screen and (min-width: 722px) {
    .rodape {
        width: 15%;
        border-radius: 0%; 
    }

    .rodape ul{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        gap: 2em;
        
    }

    .rodape__secao {
        margin-top: 3em;
        
    }

    .rodape a{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;
        font-size: 1em;
    }
    
}